<div class="animate">
	<div class="row">
		<div class="col-md-12">
			<div class="card">

				<div class="card-header card-primary card-inverse">
					<span class="card-title">Formulário de Inscrição</span>
				</div>

				<webcam-component></webcam-component>

				<div class="card-block">

					<form #form="ngForm">
						<div class="form-content">
							<div class="card-header card-primary card-inverse">
								<span class="card-title">Dados Pessoais</span>
							</div>
							<br>
							<div class="form-group">
								<span style="font-weight: bold">Nome:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.nome"
								#nome="ngModel"
								name="nome"
								type="text"
								id="nome"
							   class="form-control"
							   placeholder="Nome"
							   required></span>
							<div id="errorMessage" *ngIf="!nome.valid && !nome.untouched" style="color:red">
				   				<div *ngIf="nome.errors && nome.errors.required">
				   					Nome é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Nome da Mãe:
								<input
								[(ngModel)]="inscricao.nome_mae"
								#nome_mae="ngModel"
								name="nomemae"
								type="text"
								id="nomemae"
							   class="form-control"
							   placeholder="Nome da Mãe"
							   ></span>
							   <br>
							   <span style="font-weight: bold">Nome do Pai:
							   <input
							   [(ngModel)]="inscricao.nome_pai"
							   #nome_pai="ngModel"
							   name="nomepai"
							   type="text"
							   id="nomepai"
							  class="form-control"
							  placeholder="Nome do Pai"
							  ></span>
							<div id="errorMessage" *ngIf="((!nome_pai.untouched) && (!nome_mae.untouched)) && ((!nome_mae.value)&&(!nome_pai.value))" style="color:red">
  								  Nome da Mae ou do Pai é necessário
  							</div>
							</div>

							<div class="form-group">

							</div>

							<div class="form-group">
								<span style="font-weight: bold">Sexo:<span style="color:red">*</span>&nbsp;
									<input type="radio" [(ngModel)]="inscricao.sexo"  name="sexo" value="MASCULINO">&nbsp;Masculino
									&nbsp;
        							<input type="radio" [(ngModel)]="inscricao.sexo"  name="sexo" value="FEMININO">&nbsp;Feminino
								</span>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Estado Civil:<span style="color:red">*</span>
									&nbsp;
									<input type="radio" [(ngModel)]="inscricao.estado_civil"  name="estado_civil" value="SOLTEIRO">&nbsp;Solteiro
									&nbsp;
        							<input type="radio" [(ngModel)]="inscricao.estado_civil"  name="estado_civil" value="CASADO">&nbsp;Casado
									&nbsp;
									<input type="radio" [(ngModel)]="inscricao.estado_civil"  name="estado_civil" value="VIUVO">&nbsp;Víuvo
									&nbsp;
									<input type="radio" [(ngModel)]="inscricao.estado_civil"  name="estado_civil" value="DIVORCIADO">&nbsp;Divorciado
									&nbsp;
									<input type="radio" [(ngModel)]="inscricao.estado_civil"  name="estado_civil" value="SEPARADO">&nbsp;Separado
								</span>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Data de Nascimento:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.datanasc"
								#datanasc="ngModel"
								name="datanasc"
								type="date"
								id="datanasc"
							   class="form-control"
							   placeholder="Data de Nascimento"
							   required></span>
							<div id="errorMessage" *ngIf="!datanasc.valid && !datanasc.untouched" style="color:red">
				   				<div *ngIf="datanasc.errors && datanasc.errors.required">
				   					Data de Nascimento é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Naturalidade (Município de Nascimento):<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.naturalidade"
								#naturalidade="ngModel"
								name="naturalidade"
								type="text"
								id="naturalidade"
							   class="form-control"
							   placeholder="Naturalidade (Município de Nascimento)"
							   required></span>
							<div id="errorMessage" *ngIf="!naturalidade.valid && !naturalidade.untouched" style="color:red">
				   				<div *ngIf="naturalidade.errors && naturalidade.errors.required">
				   					Naturalidade é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Etnia:<span style="color:red">*</span>
								<select
								[(ngModel)]="inscricao.etnia"
							   	#etnia="ngModel"
							   	name="etnia"
							   	id="etnia"
							  	class="form-control"
							  	placeholder="Etnia"
							  	required>
									<option [ngValue]="" selected></option>
									<option [ngValue]="BRANCO" value="BRANCO">Branco</option>
									<option [ngValue]="NEGRO" value="NEGRO">Negro</option>
									<option [ngValue]="PARDO" value="PARDO">Pardo</option>
									<option [ngValue]="AMARELO" value="AMARELO">Amarelo</option>
									<option [ngValue]="INDIGENA" value="INDIGENA">Indígena</option>
									<option [ngValue]="MULATO" value="MULATO">Mulato</option>
								</select></span>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Religião:<span style="color:red">*</span>
								<select
								[(ngModel)]="inscricao.religiao"
							   	#religiao="ngModel"
							   	name="religiao"
							   	id="religiao"
							  	class="form-control"
							  	placeholder="Religião"
							  	required>
									<option [ngValue]="" selected></option>
									<option [ngValue]="CATOLICA_APOSTOLICA" value="CATOLICA_APOSTOLICA">Católica Apostólica</option>
									<option [ngValue]="CATOLICA_ORTODOXA" value="CATOLICA_ORTODOXA">Católica Ortodoxa</option>
									<option [ngValue]="BATISTA" value="BATISTA">Batista</option>
									<option [ngValue]="LUTERANA" value="LUTERANA">Luterana</option>
									<option [ngValue]="PRESBITERIANA" value="PRESBITERIANA">Presbiteriana</option>
									<option [ngValue]="METODISTA" value="METODISTA">Metodista</option>
									<option [ngValue]="EVANGELICO" value="EVANGELICO">Evangélico</option>
									<option [ngValue]="ADVENTISTA" value="ADVENTISTA">Adventista</option>
									<option [ngValue]="TESTEMUNHA_DE_JEOVA" value="TESTEMUNHA_DE_JEOVA">Testemunha de Jeová</option>
									<option [ngValue]="MORMONS" value="MORMONS">Mórmons</option>
									<option [ngValue]="ESPIRITISMO" value="ESPIRITISMO">Espiritismo</option>
									<option [ngValue]="UMBANDA" value="UMBANDA">Umbanda</option>
									<option [ngValue]="BUDISMO" value="BUDISMO">Budismo</option>
									<option [ngValue]="CANDOMBLE" value="CANDOMBLE">Candomblé</option>
									<option [ngValue]="MESSIANICA" value="MESSIANICA">Messiânica</option>
									<option [ngValue]="JUDAISMO" value="JUDAISMO">Judaismo</option>
									<option [ngValue]="ISLAMISMO" value="ISLAMISMO">Islamismo</option>
									<option [ngValue]="PAGA" value="PAGA">Pagã</option>
									<option [ngValue]="HARE_KRISHNA" value="HARE_KRISHNA">Hare Krishna</option>
									<option [ngValue]="TAOISMO" value="TAOISMO">Taoísmo</option>
									<option [ngValue]="HINDUISMO" value="HINDUISMO">Hinduísmo</option>
									<option [ngValue]="SEICHO_NO_IE" value="SEICHO_NO_IE">Seicho-no-ie</option>
									<option [ngValue]="SEM_RELIGIAO" value="SEM_RELIGIAO">Sem Religião</option>
									<option [ngValue]="OUTRA" value="OUTRA">Outra</option>
								</select></span>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Deficiente:<span style="color:red">*</span>&nbsp;
									<input type="radio" [(ngModel)]="inscricao.deficiente"  name="deficiente" value="true">&nbsp;Sim
									&nbsp;
        							<input type="radio" [(ngModel)]="inscricao.deficiente"  name="deficiente" value="false">&nbsp;Não
								</span>
								<br>
								<div id="deficienteDeficiencia" *ngIf="inscricao.deficiente == 'true'">
									<span style="font-weight: bold">Deficiência:
									<input
									[(ngModel)]="inscricao.deficiencia"
									#deficiencia="ngModel"
									name="deficiencia"
									type="text"
									id="deficiencia"
								   class="form-control"
								   placeholder="Deficiencia"></span>
					   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Encaminhado por:
								<input
								[(ngModel)]="inscricao.encaminhado_por"
								#encaminhado_por="ngModel"
								name="encaminhado_por"
								type="text"
								id="encaminhado_por"
							   class="form-control"
							   placeholder="Encaminhado por..."
							   ></span>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Menor de 18:<span style="color:red">*</span>&nbsp;
									<input type="radio" [(ngModel)]="inscricao.menor_18"  name="menor_18" value="true">&nbsp;Sim
									&nbsp;
        							<input type="radio" [(ngModel)]="inscricao.menor_18"  name="menor_18" value="false">&nbsp;Não
								</span>
								<br>
								<div id="menor_18" *ngIf="inscricao.menor_18 == 'true'">
									<div class="form-group">
										<span style="font-weight: bold">Nome do Responsável:
										<input
										[(ngModel)]="inscricao.nome_responsavel"
										#nome_responsavel="ngModel"
										name="nome_responsavel"
										type="text"
										id="nome_responsavel"
									   class="form-control"
									   placeholder="Nome Responsável"></span>
								   		<br>
										<span style="font-weight: bold">RG do Responsável:
										<input
										[(ngModel)]="inscricao.rg_responsavel"
										#rg_responsavel="ngModel"
										[textMask]="{mask: rgMask}"
										name="rg_responsavel"
										type="text"
										id="rg_responsavel"
									   class="form-control"
									   placeholder="RG Responsável"></span>

									</div>
					   			</div>
							</div>

							<br>
							<div class="card-header card-primary card-inverse">
								<span class="card-title">Documentos</span>
							</div>
							<br>

							<div class="form-group">
								<span style="font-weight: bold">RG:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.rg"
								#rg="ngModel"
								name="rg"
								type="text"
								id="rg"
							   [textMask]="{mask: rgMask}"
							   class="form-control"
							   placeholder="RG (Somente Números e Letras Maiusculas)"
							   required></span>
							<div id="errorMessage" *ngIf="!rg.valid && !rg.untouched" style="color:red">
				   				<div *ngIf="rg.errors && rg.errors.required">
				   					RG é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Orgão Emissor:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.orgao_emissor"
								#orgao_emissor="ngModel"
								name="orgao_emissor"
								type="text"
								id="orgao_emissor"
								[textMask]="{mask: emissorMask}"
							   class="form-control"
							   placeholder="Orgão Emissor ex. SSP-SP (Apenas Letras Maiusculas)"
							   required></span>
							<div id="errorMessage" *ngIf="!orgao_emissor.valid && !orgao_emissor.untouched" style="color:red">
				   				<div *ngIf="orgao_emissor.errors && orgao_emissor.errors.required">
				   					Orgão Emissor é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Data de Emissao:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.rg_data"
								#rg_data="ngModel"
								name="rg_data"
								type="date"
								id="rg_data"
							   class="form-control"
							   placeholder="Data de Emissão"
							   required></span>
							<div id="errorMessage" *ngIf="!rg_data.valid && !rg_data.untouched" style="color:red">
				   				<div *ngIf="rg_data.errors && rg_data.errors.required">
				   					Data de Emissão é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">CPF:
								<input
								[(ngModel)]="inscricao.cpf"
								#cpf="ngModel"
								name="cpf"
								type="text"
								[textMask]="{mask: cpfMask}"
								id="cpf"
							   class="form-control"
							   placeholder="CPF (Somente Números)"
							   ></span>
							</div>

							<br>
							<div class="card-header card-primary card-inverse">
								<span class="card-title">Dados Para Contato</span>
							</div>
							<br>

							<div class="form-group">
								<span style="font-weight: bold">Telefone Fixo:
								<input
								[(ngModel)]="inscricao.telefone"
								#telefone="ngModel"
								name="telefone"
								type="text"
								[textMask]="{mask: telefoneMask}"
								id="telefone"
							   class="form-control"
							   placeholder="Telefone (Somente Números)"
							   ></span>

							   <br>

							   <span style="font-weight: bold">Telefone Celular:
							   <input
							   [(ngModel)]="inscricao.celular"
							   #celular="ngModel"
							   name="celular"
							   type="text"
							   [textMask]="{mask: celularMask}"
							   id="celular"
							  class="form-control"
							  placeholder="Celular (Somente Números)"
							  ></span>

							  <div id="errorMessage" *ngIf="((!telefone.untouched) && (!celular.untouched)) && ((!celular.value)&&(!telefone.value))" style="color:red">
  				   					Telefone Fixo ou Celular é necessário
  				   			  </div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Email:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.email"
								#email="ngModel"
								pattern="[A-Za-z0-9._%+-]+@[a-z0-9A-Z.-]+\.[a-zA-Z]{2,3}$"
								name="email"
								type="text"
								id="email"
							   class="form-control"
							   placeholder="Email"
							   required></span>
							<div id="errorMessage" *ngIf="(!email.valid && !email.untouched) || (email.$dirty && email.$invalid)" style="color:red">
								<div>
				   					Email invalid
				   				</div>
				   				<div *ngIf="email.errors && email.errors.required">
				   					Email é necessário
				   				</div>
				   			</div>
							</div>

							<br>
							<div class="card-header card-primary card-inverse">
								<span class="card-title">Dados Residenciais</span>
							</div>
							<br>

							<div class="form-group">
								<span style="font-weight: bold">Endereço:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.rua"
								#rua="ngModel"
								name="rua"
								type="text"
								id="rua"
							   class="form-control"
							   placeholder="Endereço"
							   required></span>
							<div id="errorMessage" *ngIf="!rua.valid && !rua.untouched" style="color:red">
				   				<div *ngIf="rua.errors && rua.errors.required">
				   					Endereço é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Número:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.numero"
								#numero="ngModel"
								name="numero"
								type="text"
								id="numero"
							   class="form-control"
							   placeholder="Número"
							   required></span>
							<div id="errorMessage" *ngIf="!numero.valid && !numero.untouched" style="color:red">
				   				<div *ngIf="numero.errors && numero.errors.required">
				   					Numero é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Bairro:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.bairro"
								#bairro="ngModel"
								name="bairro"
								type="text"
								id="bairro"
							   class="form-control"
							   placeholder="Bairro"
							   required></span>
							<div id="errorMessage" *ngIf="!bairro.valid && !bairro.untouched" style="color:red">
				   				<div *ngIf="bairro.errors && bairro.errors.required">
				   					Bairro é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">CEP:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.cep"
								#cep="ngModel"
								name="cep"
								type="text"
								id="cep"
								[textMask]="{mask: cepMask}"
							   class="form-control"
							   placeholder="CEP (Somente Números)"
							   required></span>
							<div id="errorMessage" *ngIf="!cep.valid && !cep.untouched" style="color:red">
				   				<div *ngIf="cep.errors && cep.errors.required">
				   					CEP é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Cidade:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.cidade"
								#cidade="ngModel"
								name="cidade"
								type="text"
								id="cidade"
							   class="form-control"
							   placeholder="Cidade"
							   required></span>
							<div id="errorMessage" *ngIf="!cidade.valid && !cidade.untouched" style="color:red">
				   				<div *ngIf="cidade.errors && cidade.errors.required">
				   					Cidade é necessário
				   				</div>
				   			</div>
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Estado:<span style="color:red">*</span>
								<select
								[(ngModel)]="inscricao.estado"
							   	#estado="ngModel"
							   	name="estado"
							   	id="estado"
							  	class="form-control"
							  	placeholder="Estado"
							  	required>
									<option [ngValue]="" selected></option>
									<option [ngValue]="AC" value="AC">Acre</option>
									<option [ngValue]="AL" value="AL">Alagoas</option>
									<option [ngValue]="AP" value="AP">Amapá</option>
									<option [ngValue]="AM" value="AM">Amazonas</option>
									<option [ngValue]="BA" value="BA">Bahia</option>
									<option [ngValue]="CE" value="CE">Ceará</option>
									<option [ngValue]="DF" value="DF">Distrito Federal</option>
									<option [ngValue]="ES" value="ES">Espírito Santo</option>
									<option [ngValue]="GO" value="GO">Goiás</option>
									<option [ngValue]="MA" value="MA">Maranhão</option>
									<option [ngValue]="MT" value="MT">Mato Grosso</option>
									<option [ngValue]="MS" value="MS">Mato Grosso do Sul</option>
									<option [ngValue]="MG" value="MG">Minas Gerais</option>
									<option [ngValue]="PA" value="PA">Pará</option>
									<option [ngValue]="PB" value="PB">Paraíba</option>
									<option [ngValue]="PR" value="PR">Paraná</option>
									<option [ngValue]="PI" value="PI">Pernambuco</option>
									<option [ngValue]="CE" value="CE">Piauí</option>
									<option [ngValue]="RJ" value="RJ">Rio de Janeiro</option>
									<option [ngValue]="RN" value="RN">Rio Grande do Norte</option>
									<option [ngValue]="RS" value="RS">Rio Grande do Sul</option>
									<option [ngValue]="RR" value="RR">Rondônia</option>
									<option [ngValue]="CE" value="CE">Roraima</option>
									<option [ngValue]="SC" value="SC">Santa Catarina</option>
									<option [ngValue]="SP" value="SP">São Paulo</option>
									<option [ngValue]="SE" value="SE">Sergipe</option>
									<option [ngValue]="TO" value="TO">Tocantins</option>
								</select></span>
							</div>

							<div class="card-header card-primary card-inverse">
								<span class="card-title">Projeto(s)</span>
							</div>

							<br>

							<div class="form-group">
								<span style="font-weight: bold">Escolha o(s) projeto(s): <span style="color:red">* obs. Para selecionar mais de um projetos mantenha a tecla control pressionada</span>
								<select multiple [(ngModel)]="inscricao.projetos"
								#projetos="ngModel"
								name="projetos"
								id="projetos" placeholder="projeto"
								class="form-control multiple-select"
								(change)="srcValueChange($event)"
								style="height: 255px;"
								required>
									<option [ngValue]="ABRE_PORTAS" value="ABRE_PORTAS">Abre Portas</option>
									<option [ngValue]="SAUDE_BUCAL" value="SAUDE_BUCAL">Ofinicia Saúde Bucal</option>
									<option [ngValue]="FUTSAL" value="FUTSAL">Futsal</option>
									<option [ngValue]="CAPOEIRA" value="CAPOEIRA">Capoeira</option>
									<option [ngValue]="DESIGN_MODA" value="DESIGN_MODA">Design de Moda</option>
									<option [ngValue]="INGLES" value="INGLES">Inglês</option>
									<option [ngValue]="ESPANHOL" value="ESPANHOL">Espanhol</option>
									<option [ngValue]="INFORMATICA" value="INFORMATICA">Informática</option>
									<option [ngValue]="LIBRAS" value="LIBRAS">Libras</option>
									<option [ngValue]="BATERIA" value="BATERIA">Bateria</option>
									<option [ngValue]="VIOLAO" value="VIOLAO">Violão</option>
									<option [ngValue]="TEATRO" value="TEATRO">Teatro</option>
								</select>

								<!-- <select
								[(ngModel)]="inscricao.projeto"
							   	#projeto="ngModel"
							   	name="projeto"
							   	id="projeto"
							  	class="form-control"
							  	placeholder="projeto"
							  	required>
									<option [ngValue]="" selected></option>
									<option [ngValue]="ABRE_PORTAS" value="ABRE_PORTAS">Abre Portas</option>
									<option [ngValue]="SAUDE_BUCAL" value="SAUDE_BUCAL">Ofinicia Saúde Bucal</option>
									<option [ngValue]="FUTSAL" value="FUTSAL">Futsal</option>
									<option [ngValue]="CAPOEIRA" value="CAPOEIRA">Capoeira</option>
									<option [ngValue]="DESIGN_MODA" value="DESIGN_MODA">Design de Moda</option>
									<option [ngValue]="INGLES" value="INGLES">Inglês</option>
									<option [ngValue]="ESPANHOL" value="ESPANHOL">Espanhol</option>
									<option [ngValue]="INFORMATICA" value="INFORMATICA">Informática</option>
									<option [ngValue]="LIBRAS" value="LIBRAS">Libras</option>
									<option [ngValue]="BATERIA" value="BATERIA">Bateria</option>
									<option [ngValue]="VIOLAO" value="VIOLAO">Violão</option>
									<option [ngValue]="TEATRO" value="TEATRO">Teatro</option>
								</select> -->
								</span>
							</div>



							<div class="card-header card-primary card-inverse">
								<span class="card-title">Observações</span>
							</div>

							<br>

							<div class="form-group">
								<textarea #ta
								style="height: 150px;"
								class="form-control"
								value = "Observaçoes"
								placeholder="Observações ..."
								(blur)="inscricao.observacoes=ta.value"
								[value]="inscricao.observacoes"></textarea>

								<!-- <input
								[(ngModel)]="inscricao.observacoes"
								#observacoes="ngModel"
								name="observacoes"
								type="text"
								id="observacoes"
							   class="form-control"
							   placeholder="Observações"> -->
							</div>

							<div class="form-group">
								<span style="font-weight: bold">Atendido Por:<span style="color:red">*</span>
								<input
								[(ngModel)]="inscricao.atendido_por"
								#atendido_por="ngModel"
								name="atendido_por"
								type="text"
								id="atendido_por"
							   class="form-control"
							   placeholder="Atendido Por..."
							   required></span>
							<div id="errorMessage" *ngIf="!atendido_por.valid && !atendido_por.untouched" style="color:red">
				   				<div *ngIf="atendido_por.errors && atendido_por.errors.required">
				   					Atendido Por é necessário
				   				</div>
				   			</div>
							</div>

							<div class="card-header card-primary card-inverse">
								<span class="card-title">Termos e Autorização</span>
							</div>

							<div class="checkbox" style="padding-left: 15px;">
								<label>
									<span style="font-weight: bold">
										<input [(ngModel)]="inscricao.termo_imagem"
									   	#termo_imagem="ngModel"
									   	name="termo_imagem"
									   	id="termo_imagem"
									  	placeholder="termo_imagem"
										type="checkbox"
										required> Autoriza Uso de Imagem?</span><span style="color:red">*</span>
										<div id="errorMessage" *ngIf="!termo_imagem.valid && !termo_imagem.untouched" style="color:red">
							   				<div *ngIf="termo_imagem.errors && termo_imagem.errors.required">
							   					Termo de Imagem Não Aceito
							   				</div>
							   			</div>
								</label>
							</div>
							<div class="checkbox" style="padding-left: 15px;">
								<label>
									<span style="font-weight: bold">
										<input type="checkbox" [(ngModel)]="inscricao.termo_responsabilidade"
									   	#termo_responsabilidade="ngModel"
									   	name="termo_responsabilidade"
									   	id="termo_responsabilidade"
									  	placeholder="termo_responsabilidade"
										type="checkbox"
										required> Aceita os Termos de Responsabilidade?</span><span style="color:red">*</span>
										<div id="errorMessage" *ngIf="!termo_responsabilidade.valid && !termo_responsabilidade.untouched" style="color:red">
							   				<div *ngIf="termo_responsabilidade.errors && termo_responsabilidade.errors.required">
							   					Termo de Responsabilidade Não Aceito
							   				</div>
							   			</div>
								</label>
							</div>
							<!-- {{inscricao | json}} -->
							<br>
							<div class="row">
								<div id="errorMessage"  *ngIf="inscricaoError" style="color:white;background:#de6764;text-align: center;height:30px">
									{{inscricaoErrorMsg}}
								</div>
								<div id="successMessage"  *ngIf="inscricaoSuccess" style="color:white;background:#5cb85c;text-align: center;height:30px">
									Inscrição Realizada com Sucesso, Redirecionando para a Home em Instantes!
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div style = "float: right;">
								<div style="display: inline-block">
									<button id="btnCancel" class="btn btn-danger"  (click)="cancel()"> Cancel </button>
								</div>
								<div style="display: inline-block">
									<button id="btnSuccess" class="btn btn-success" (click)="makeInscricao()" [disabled]="!form.valid"> Salvar Inscrição</button>
								</div>
							</div>
						<!-- <a type="submit" id="loginButton" class="btn rounded-btn" (click)="login()" [disabled]="!form.valid" *ngIf="!spinner">Log in</button> -->
						</div>
					</form>


				</div>

			</div>
		</div>
	</div>
</div>
